.Header{
  width: auto;
  height: 70px;
  position: relative;
}
.Parul{
  font-weight: bold;
  color: black;
  font-size: large;
  padding-top: 10px;
}
.University{
  color: red;
  font-size: larger;
}
.Main_Component{
  display: flex;
  flex-wrap: wrap;
}
.Image_Section{
  flex: 1;
  border: black;
  padding-top: 70px;
}
.ForBlank{
  flex: 3;
  flex-grow: 1;
}
.Notice_Login{
  color: red;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 200px;
  padding-left: 470px;
  font-size: 15px;
}
.Footer{
  padding-top: 92px;
  text-align: center;
  font-family:sans-serif;
}