.Header{
  width: auto;
  height: 70px;
  position: relative;
}
.Parul{
  font-weight: bold;
  color: black;
  font-size: large;
  padding-top: 10px;
}
.University{
  color: red;
  font-size: larger;
}
.SignUp{
  display: flex;
  flex-wrap: wrap;
}
.Image_Section{
  flex: 1;
  border: black;
  padding-top: 70px;
}
.g-signin2{
  flex: 2;
  flex-grow: 3;
  padding-top: 270px;
  padding-left: 500px;
}
.ForBlank{
  flex: 3;
  flex-grow: 1;
}